@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Raleway/Raleway-ExtraBold.ttf") format("ttf"),
}


@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Lato/Lato-Bold.ttf") format("ttf"),
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Lato/Lato-Regular.ttf") format("ttf"),
}