@import "fonts";
@import "global";
@import "reset";
@import "vars";
@import "mixins";
@import "libs";
@import "breakpoint";
@import "media";


.header {
    background-color: #000000;
    position: fixed;
    width: 100%;
    background-color: rgba(16, 16, 29, 0.9);
    z-index: 10;

    &-wrapper {
        @include flex_space-between;
        padding: 34px 0;
        @include tablet {
            padding: 20px 0;
        }
    }
}

.header a {
    text-transform: uppercase;
    color: #fff;
}

.logo {
    font-family: "Raleway";
    font-size: 28px;
    font-weight: 800;
    transition: 0.5s all;

    &:hover {
        opacity: 0.8;
        transition: 0.5s all;
    }

    @include tablet {
        font-size: 20px;
    }
}

.logo {
    &__blue {
        color: $secondary-blue;
    }
}

.menu {
    &-list {
        @include flex_space-between;
        margin-top: 7px;
        width: 420px;
        @include tablet {
            margin-top: 0;
            width: 300px;
        }
    }

    &-link {
        font-weight: 600;
        font-size: 13px;
        transition: 0.5s all;
        @include tablet {
            font-size: 12px;
        }
    }

    &-link:hover {
        color: $secondary-blue;
        transition: 0.5s all;
    }
}

.main_section {
    background-image: url('../images/main.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    padding-bottom: 202px;
    @include minidesk {
        padding-bottom: 50px;
        background-size: cover;
    }
    @include tablet {
        padding-bottom: 30px;
        
    }
}

.title {
    padding-top: 203px;
    padding-bottom: 90px;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    max-width: 790px;


    &__blue {
        color: $main-blue;
    }

    @include minidesk {
        padding: 150px 0 50px 0;
    }

    @include tablet {
        font-size: 40px;
        padding-top: 120px;
        padding-bottom: 50px;
    }
}

.main_description {

    &-title {
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 20px;
    }
}

.main_list {
    margin-left: 8px;
    margin-bottom: 75px;

    &-item {
        font-size: 20px;
        padding-bottom: 5px;
        list-style: none;

        &::before {
            content: '- ';
        }
    }

    @include tablet {
        margin-bottom: 30px;
    }
}

.btn {
    background-color: $main-blue;
    color: #fff;
    font-size: 13px;
    width: 183px;
    height: 43px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: none;
    transition: 0.3s ease-in-out;

    &__details {
        background-color: #fff;
        color: #2A2B30;
        border: 1px solid #6F6D7B;
        margin-left: 27px;
    }

    &:hover {
        transition: 0.3s ease-in-out;
        box-shadow: 0px 10px 13px -7px #000000;
    }

    &__send {
        width: 360px;
        height: 46px;
        margin: 58px 0 150px 0;
        transition: 0.3s ease-in-out;
        @include tablet {
            margin: 30px 0 60px 0;
         }

        &:hover {
            transition: 0.3s ease-in-out;
            box-shadow: 0px 10px 13px -7px #fff;
        }
    }
}

.order_section {
    background-color: #272733;
    background-image: url('../images/background-map.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    text-align: center;

    &-title {
        padding-top: 119px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 36px;
        @include tablet {
            padding-top: 30px;
            font-size: 28px;
        }
        &__blue {
            color: $main-blue;
        }
    }

    &-warning {
        margin-top: 30px;
        margin-bottom: 80px;
        color: #BBBBBB;
        font-weight: 400;
        font-size: 18px;
        @include tablet {
            margin-bottom: 30px;
        }
    }
}

.benefits_wrapper {
    @include flex_space-between;
    margin: 0 auto 85px auto;
    position: relative;
}

.dots_block {
    @include flex_space-between;
    @include minidesk {
        display: none;
    }
    position: absolute;
    padding-left: 165px;
    top: 48px;
    width: 985px;
}

.dots {
    background-image: url(../images/dots-group.svg);
    background-repeat: no-repeat;
    width: 110px;
    height: 7px;
}

.benefit_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
        @include minidesk {
        margin: 0 15px;
    }


    &-title {
        color: #fff;
        padding-top: 21px;
        @include tablet {
            font-size: 12px;
        }
    }

    &-icon {
        width: 100px;
        height: 100px;
        border: 5px solid $border-blue;
        border-radius: 50%;
        background-color: $main-blue;
        background-repeat: no-repeat;
        background-position: center;
        @include tablet {
            width: 70px;
            height: 70px;
            border: 2px solid $border-blue;
            background-size: 40%;
        }

        &__search {
            background-image: url('../images/search-icon.svg');
        }

        &__percent {
            background-image: url('../images/percent-icon.svg');
        }

        &__document {
            background-image: url('../images/document-icon.svg');
        }

        &__letter {
            background-image: url('../images/letter-icon.svg');
        }

        &__money {
            background-image: url('../images/money-icon.svg');
        }
    }


}

.form-up {
    @include flex_space-between;
    width: 100%;
    margin-bottom: 10px;
}

// Кастомный селект
.choices {
    width: 360px;
    text-align: left;
    color: rgba(39, 39, 51, 1);
}

//Выпадающий список
.choices__list.choices__list--dropdown {
    border: 1px solid rgb(90, 87, 87);
    border-top: none;
    font-weight: 400;
    font-size: 18px;
    background-color: #272733;
    color: #fff;
    z-index: 10;
}

// В выпадающем списке цвет пункта на который наводим
.choices__list--dropdown .choices__item--selectable.is-highlighted {
    color: #42A9ED;
    background-color: #272733;
}

// Убираем надпись Press to select в выпадающем списке
.choices__list--dropdown .choices__item--selectable.is-highlighted::after {
    display: none;
}

// Убираем первый пункт из выпадающего списка
#choices--select-item-choice-1 {
    display: none;
}

.choices__inner {
    background-color: rgba(255, 255, 255, 0.85);
    color: rgba(39, 39, 51, 1);
    height: 47px;
    border-radius: 3px;
}

.input {
    width: 360px;
    height: 47px;
    padding: 0 10px;
    color: rgba(39, 39, 51, 1);
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #FFFFFF;
    border-radius: 3px;

    @include tablet {
        width: 200px;
    }

    &_file {
        background-color: #fff;
        cursor: pointer;
        outline: none;
        margin-left: 15px;
        @include tablet {
            width: 200px;
        }
        &:hover {
            transition: 0.3s ease-in-out;
            box-shadow: 0px 10px 13px -7px #fff;
        }

        &-text {
            display: inline-block;
            text-decoration: none;
            font-size: 14px;
            color: #000000;
            text-align: center;
            background-color: #fff;
            padding: 13px 0px 13px 25px;
            border: none;
            text-transform: uppercase;
            transition: 0.3s ease-in-out;
            background-image: url('../images/attachment-icon.svg');
            background-repeat: no-repeat;
            background-position: left center;
            @include tablet {
                font-size: 12px;
            }
        }
    }
    &__email {
        margin: 0 15px;
    }
}

.form-down {
    @include flex_space-between;
    @include minidesk {
        justify-content:space-around;
    }
}

//Стилизуем инпут-слайдер

.range_text_block {
    @include flex_space-between;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 17px;
}

.range {
    width: 755px;
    @include minidesk {
        width: 100%;
    }
}

.noUi-target {
    border: 1px solid #fff !important;
    background-color: #bdbdc0 !important;
}

.range-input {
    color: #fff;
    background-color: transparent;
    border: none;
    width: 33px;
    font-weight: 400;
    font-size: 18px;
    text-align: end;
}

/* прячем стрелки у инпута */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#range-slider {
    height: 10px;
}

#range-slider .noUi-connect {
    background: #bdbdc0;
}

.noUi-base,
.range,
.noUi-target,
.noUi-ltr,
.noUi-horizontal,
.noUi-txt-dir-ltr,
.noUi-connects {
    height: 7px !important;
}


#range-slider .noUi-handle {
    height: 26px;
    width: 26px;
    top: -10px;
    right: -9px;
    /* half the width */
    border: 3px solid #286690;
    border-radius: 13px;
    background: #42A9ED;
    box-shadow: none;
    cursor: pointer;
}

.noUi-handle::after,
.noUi-handle::before {
    width: 0 !important;
}

//Конец стилизации инпут-слайдера

.input_file input[type=file] {
    position: absolute;
    z-index: -1;

}


.footer {
    background-color: $footer-background;
    font-size: 13px;
    font-weight: 400;
    @include tablet {
        font-size: 12px;
}
}

.footer_wrapper {
    @include flex_space-between;
    align-items: center;
    padding: 30px 0;
    @include minidesk {
        flex-wrap: wrap;
        justify-content:center;
        padding: 15px 0;
    }
    @include tablet {
        flex-direction: column;
        padding: 10px 0;
}
}

.copyright {
    @include minidesk {
        order: 1;
        padding-top: 15px;
        margin: 0 60px;
    }
    color: #fff;
    margin-right: 50px;

    &__uppercase {
        text-transform: uppercase;
    }
        @include tablet {
        margin: 0;
        padding-top: 0;
}

  
}



.pay_systems {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $footer-text;
    width: 455px;
    border-left: 1px solid $footer-text;
    border-right: 1px solid $footer-text;
    @include minidesk {
    border: none;
    }
}

.pay_systems-item {
    background-repeat: no-repeat;
    background-position: left;
    padding: 2px 0 2px 25px;

    &__qiwi {
        background-image: url("../images/qiwi-icon.svg");
    }

    &__ya {
        background-image: url("../images/yandex-icon.svg");
    }

    &__wm {
        background-image: url("../images/wm-icon.svg");
    }

    &:nth-child(2) {
        margin: 0 30px;
    }
}

.contacts {
    @include flex_space-between;

    &-link {
        padding-left: 25px;
        margin-left: 40px;
        background-repeat: no-repeat;
        background-position: left;

        @include minidesk {
            margin-left: 15px;
        }

        &__mail {
            background-image: url("../images/mail-icon.svg");
        }

        &__vk {
            background-image: url("../images/vk-icon.svg");
        }
    }

    &-item a {
        color: #fff;
    }

    @include tablet {
        padding: 10px 0 !important;
    }
}